@import "../../theme.scss";

.ToolPanel {
    background: $bg-dark;
    //background: linear-gradient(180deg, $bg-dark 0%, $bg-light 100%);
    background-color: $bg-dark;
    border-radius: 1em;
    width: fit-content;
}